{% extends "inner.html" %}
{% load staticfiles %}

{% block inner_content %}
    <h1>Роли</h1>

    <table class="roles">
        {% for role in roles %}
            <tr class="{% cycle 'tr_odd' 'tr_even' %}">
                <td><a href="{% url "role" role.id %}">{{ role.name }}</a></td>
                {% for field in role.rolefields %}
                    <td>{{ field.value }}</td>
                {% endfor %}
                <td>{% if role.display_userlink %}
                        <a href="{{ role.display_userlink }}">{{ role.display_user }}<a>
                    {% else %}
                        {{ role.display_user }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
