{% extends "base.html" %}

{% block content %}
    <p>
        {% if request.user.is_authenticated %}
            Привет, <a href="{% url "cabinet" %}">{{ request.user.first_name|default:"незнакомец" }}</a>
            <small>(<a href="{% url "logout" %}?next=/">выйти</a>)</small><br>

            {% if own_games %}
                <h2>Игры, где вы мастер</h2>
                <ul>
                    {% for game in own_games %}
                        <li><a href="{{ game.get_absolute_url }}">{{ game }}</a>
                            {% if game.paid %}
                                <button type="button" class="btn btn-success btn-xs">оплачено</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-xs">не оплачено</button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h2>Ваши игры</h2>
            {% if roles %}
                <ul>
                    {% for role in roles %}
                        <li><a href="{{ role.game.get_absolute_url }}">{{ role.game }}</a> -
                            <a href="{{ role.get_absolute_url }}">{{ role }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Вы не заявлялись на игры</p>
            {% endif %}

        {% endif %}

        <h2>Все игры</h2>
        {% if all_games %}
            <ul>
                {% for game in all_games %}
                    <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пока доступных игр нет</p>
        {% endif %}
        <p><a href="{% url "new_game" %}">Заявить</a> новую игру.</p>
    </p>
{% endblock %}
