{% extends "base.html" %}
{% load news %}
{% load roles %}
{% load staticfiles %}
{% load staticpages %}
{% load ulogin_tags %}

{% block content %}
    <div class="inner_menu">
    <div>
        <table>
            <tr>
                <td><a href="{% url "users:cabinet" %}">Кабинет</a></td>
                <td><a href="{% role_link %}">Моя роль</a></td>
                <td><a href="{% url "guestbook:index" %}">Чат</a></td>
                <td><a href="{% url "market:index" %}">Биржа</a></td>
                <td><a href="{% url "space:index" %}">Космос</a></td>
                <td><a href="{% url "hack:defence" %}">Security</a></td>
                <td><a href="{% url "register:index" %}">Журнал</a></td>
            </tr>
        </table>
    </div></div>

    <table style="width: 100%"><tr>
        <td >
            <h3>Мастера</h3>
            {% content "Мастера" %}
        </td>
        <td style="width: 80%">
            <div style="text-align: center"><img id="imgmap" src="{% static "cetaganda/i/index.png" %}" usemap="#Navigation"></div>
            <map id="Navigation" name="Navigation">
                <area shape="poly" coords="110,95, 196,0, 246,35, 168,139" href="{% url "article" 3 %}" alt="Орг. инфо">
                <area shape="poly" coords="284,140, 273,83, 400,62, 410,124" href="{% url "article" 4 %}" alt="Тексты">
                <area shape="poly" coords="0,235, 117,217, 136,270, 28,300" href="{% url "article" 5 %}" alt="Правила">
                <area shape="poly" coords="165,315, 106,182, 163,163, 206,304" href="{% url "article" 6 %}" alt="Космос">
                <area shape="poly" coords="213,311, 180,167, 260,155, 277,306" href="{% url "article" 7 %}" alt="Боевка">
                <area shape="poly" coords="287,302, 274,148, 350,139, 353,300" href="{% url "article" 8 %}" alt="Наука">
                <area shape="poly" coords="354,300, 366,137, 438,134, 416,293" href="{% url "article" 9 %}" alt="Взломы">
                <area shape="poly" coords="426,260, 437,188, 575,192, 571,271" href="{% url "article" 5 %}" alt="и другие...">
                <area shape="poly" coords="86,319, 445,293, 456, 360, 102,371" href="{% url "article" 10 %}" alt="Дипломатия и секс">
                <area shape="poly" coords="82,376, 262,376, 265,441, 75,443" href="{% url "roles:all" %}" alt="Заявки">
                <area shape="poly" coords="298,407, 450,390, 460,450, 317,468" href=
                        "{% if request.user.is_authenticated %}{% url "users:cabinet" %}{% else %}{% url "users:login" %}{% endif %}" alt="Войти">
                <area shape="poly" coords="106,475, 238,480, 217,536, 111,535" href="https://vk.com/cetaganda2016" alt="VK">
                <area shape="poly" coords="232,532, 520,508, 524,576, 242,606" href="{% url "roles:request" %}" alt="Подать заявку">
            </map>
        </td>
        <td>
            <h3>Новости</h3>
            {% last_news %}
        </td>
    </tr></table>
{% endblock %}
