{% extends "base.html" %}
{% load staticfiles %}
{% load ulogin_tags %}

{% block content %}
    <div class="inner_menu">
    <div>
        <table>
            <tr>
                <td {% if request.META.PATH_INFO == '/articles/3' %}class="active"{% endif %}><a href="{% url "article" 3 %}">орг. инфо</a></td>
                <td {% if request.META.PATH_INFO == '/articles/4' %}class="active"{% endif %}><a href="{% url "article" 4 %}">тексты</a></td>
                <td {% if request.META.PATH_INFO == '/articles/5' %}class="active"{% endif %}><a href="{% url "article" 5 %}">правила</a></td>
                <td {% if request.META.PATH_INFO == '/roles/' %}class="active"{% endif %}><a href="{% url "roles:all" %}">роли</a></td>
                <td {% if request.META.PATH_INFO == '/users/cabinet' %}class="active"{% endif %}><a href="{% url "users:cabinet" %}">ваши данные</a></td>
            </tr>
        </table>
    </div></div>

    {% block inner_content %}{% endblock %}
{% endblock %}
