{% extends "base.html" %}
{% load staticpages %}
{% load staticfiles %}

{% block content %}
    <h1>Биржа</h1>

    <p>Ваши запасы: {{ money }}.

    {# <form method="POST">{% csrf_token %}<input type="text" name="amount"><input type="submit" value="Добавить"></form></p> #}

    <h2>В продаже:</h2>

    <table>
        <tr>
            <th>Кто продает</th>
            <th>Товар</th>
            <th>Подробности</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
        {% for product in goods %}
            <tr>
                <td>{{ product.seller|default:"Биржа" }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.cost }}</td>
                <td><form action="{% url "market:buy" %}" method="POST">{% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <input type="submit" value="Купить" onclick="return confirm('Вы уверены, что хотите приобрести этот товар?')">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p><a href="{% url "market:sell" %}">Выставить на продажу</a> новый товар.</p>
{% endblock %}
