{% extends "base.html" %}
{% load staticpages %}

{% block content %}
    <table>
        <tr>
            <td>
                <h1>Регистрация</h1>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ registration_form }}
                        <tr><td colspan="2" style="text-align: right;"><input type="submit" value="Зарегистрироваться"></td></tr>
                    </table>
                </form>
            </td>
            <td style="width: 200px;">
                &nbsp;
            </td>
            <td style="vertical-align: top;">
                <h1>Вход на сайт</h1>
                <p>Для тех, кто уже зарегистрировался на сайте. Если вы забыли пароль, его можно <a href="{% url 'password_reset' %}">сменить</a>.</p>
                <form action="{% url "login" %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ login_form }}
                        <tr><td colspan="2" style="text-align: right;"><input type="submit" value="Войти"></td></tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
