body {
    margin: 10px;
    padding: 0;
}

.logo {
    background: url("i/logo.png") no-repeat;
    width: 256px;
    height: 108px;
    position: absolute;
}

.header {
    clear: both;
    min-height: 108px;
}

.header__text {
    text-align: center;
    margin: 0 260px;
}

table td {
    vertical-align: top;
}

table.bordered {
    border-collapse: collapse;
}

table.bordered td, table.bordered th {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0;
    padding: 5px 10px 3px 3px;
}


.roles {
    border-collapse: collapse;
    border: 1px solid grey;
}

.roles td {
    padding: 3px 10px 5px 3px;
    margin: 0;
    vertical-align: top;
    border-bottom: 1px solid grey;
}

.roles .tr_even {
    background-color: #f0f0f0;
}

.errorlist {
    color: red;
    font-weight: bold;
}

h3 {
    background: url("i/button.png") no-repeat;
    min-height: 41px;
    min-width: 186px;
    padding-top: 7px;
    padding-left: 30px;
    font-size: 100%;
    color: white;
}

.inner_menu {
    text-align: center;
}

.inner_menu table{
    margin: 0 auto;
}

.inner_menu td {
    background: url("i/button.png") no-repeat;
    height: 41px;
    min-width: 186px;
    text-align: left;
    padding: 10px 0 0 30px;
}

.inner_menu td.active {
    background: url("i/button-active.png") no-repeat;
}

.inner_menu a:link, .inner_menu a:active, .inner_menu a:hover, .inner_menu a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.inner_menu .active a:link, .inner_menu .active a:active, .inner_menu .active a:hover, .inner_menu .active a:visited {
    color: black;
}


.app_menu {
    text-align: center;
}

.app_menu table{
    margin: 0 auto;
}

.app_menu td {
    background-color: #9b0e12;
    border: 3px solid #9b0e12;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}

.app_menu td.active {
    border: 3px solid lightgray;
    background-color: lightgray;
}

.app_menu a:link, .app_menu a:active, .app_menu a:hover, .app_menu a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.app_menu .active a:link, .app_menu .active a:active, .app_menu .active a:hover, .app_menu .active a:visited {
    color: black;
}


.article {
    width: 100%;
}


.article td.article_menu {
    width: 15%;
    padding-right: 20px;
}

.article td.article_menu ul {
    padding-left: 0;
    margin-left: 3px;
}

.article td.article_menu li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 3px;
}

.article td.article_content {
    padding-left: 20px;
    border-left: 1px solid grey;
}


path.arc {
    cursor: move;
    fill: #fff;
}

.node {
    font-size: 14px;
    font-family: Arial;
}

.node:hover {
    fill: #1f77b4;
}

.link {
    fill: none;
    stroke: #1f77b4;
    stroke-opacity: .4;
    pointer-events: none;
}

.link.source, .link.target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.node.target {
    fill: #d62728 !important;
}

.link.source {
    stroke: #d62728;
}

.node.source {
    fill: #2ca02c;
}

.link.target {
    stroke: #2ca02c;
}

.in_game {
    fill: #000;
}

.not_in_game {
    fill: #999;
}


.record-table {
    border-collapse: collapse;
}

.record-table tr {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.record-table td {
    padding: 5px 20px 5px 5px;
}
