{% extends "inner.html" %}

{% block inner_content %}
    <div class="app_menu">
    <table cellspacing="20px">
        <tr>
            <td {% if page == 'defence' %}class="active"{% endif %}><a href="{% url "hack:defence" %}">Защита</a></td>
            <td {% if page == 'hack' %}class="active"{% endif %}><a href="{% url "hack:hacks" %}">Взломы</a></td>
            <td {% if page == 'duel' %}class="active"{% endif %}><a href="{% url "hack:duels" %}">Дуэли</a></td>
        </tr>
    </table></div>

    {% block hack_content %}
    {% endblock %}
{% endblock %}
