{% extends "hack/base.html" %}

{% block hack_content %}
    <h2>Доступное ПО</h2>

    <p>
        {% for float in free_floats %}
            {{ float.hash }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            У вас нет поплавков. Вы можете приобрести их на <a href="{% url "market:index" %}">бирже</a>.
        {% endfor %}
    </p>

    <h2>Текущие защиты</h2>
    <table>
        {% for target in targets %}
            <tr>
                <td style="text-align: right">{{ target.get_levels|join:", "|default:"-" }}</td>
                <td>{{ target.get_target_display }}</td>
            </tr>
        {% empty %}
            <tr><td>не установлено</td></tr>
        {% endfor %}
    </table>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Установить защиту">
    </form>
{% endblock %}
