{% extends "hack/base.html" %}

{% block extrahead %}
    {% if not can_move %}
        <meta http-equiv="refresh" content="10">
    {% endif %}
{% endblock %}

{% block hack_content %}
    <h1>Дуэль</h1>
    <p>
        Вы - {% if mode == 'hacker' %}ломщик{% else %}машинист{% endif %}.
        Ваш противник - {% if mode == 'hacker' %}{{ duel.email_2 }}{% else %}{{ duel.email_1 }}{% endif %}.
    </p>
    <p>Статус дуэли: {{ duel.get_state_display }}</p>

    {% if moves %}
        <h2>Ходы</h2>
        <table>
            <tr>
                <td>{% if mode == 'hacker' %}вы{% else %}противник{% endif %}</td>
                <td>|</td>
                <td>{% if mode == 'security' %}вы{% else %}противник{% endif %}</td>
            </tr>
            {% for move in moves %}
                <tr>
                    <td>{% if move.move_1 %}{{ move.move_1 }} ({{ move.result_1 }}){% else %}ожидание хода{% endif %}</td>
                    <td>|</td>
                    <td>{% if move.move_2 %}{{ move.move_2 }} ({{ move.result_2 }}){% else %}ожидание хода{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if duel.state == 'finished' %}
        <p>Дуэль окончена. Результат: {{ duel.result }}. Загаданные числа: {{ duel.number_1 }} - {{ duel.number_2 }}.</p>

    {% else %}
        {% if mode == 'security' and duel.state == 'not_started' %}
            <p>Введите ваш номер (число из {{ number_len }} цифр без повторений):
            {{ error }}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="number">
                <input type="submit" name="action" value="Сохранить">
            </form>
            </p>

        {% else %}
            {% if can_move %}
                <p>Ваш ход: {{ error }}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="number">
                    <input type="submit" name="action" value="Попробовать"> {% if mode == 'hacker' %}<input type="submit" name="action" value="Сдаться">{% endif %}
                </form>
                </p>
            {% else %}
                <p>Ожидание действий соперника.</p>
            {% endif %}
        {% endif %}

    {% endif %}

{% endblock %}
