{% extends "hack/base.html" %}

{% block hack_content %}
    <h1>Взлом</h1>

    {{ hack.get_status_display }}

    {% if moves %}
        <h2>Ходы</h2>
        {% for move in moves %}
            <p>{{ move.move }} ({{ move.result }})</p>
        {% endfor %}
    {% endif %}

    {% ifequal hack.status "inprocess" %}
        <p>Ваш ход: {{ error }}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="number">
            <input type="submit" name="action" value="Попробовать">
        </form>
        <br>
        <form action="" method="POST" onsubmit="return confirm('Вы уверены, что хотите прервать взлом?')">
            {% csrf_token %}
            <input type="submit" name="action" value="Сбежать">
        </form>
        </p>
    {% endifequal %}

{% endblock %}
