{% extends "base.html" %}


{% block content %}
    <h2>Новая дуэль</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ duel_form.as_p }}
        <input type="hidden" name="action" value="duel">
        <input type="submit" value="Начать дуэль">
    </form>

    <hr>
    <h2>Новый взлом</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ hack_form.as_p }}
        <input type="hidden" name="action" value="hack">
        <input type="submit" value="Начать дуэль">
    </form>

{% endblock %}
