{% extends "space/base.html" %}

{% block space_content %}
    <h1>Корабль "{{ object.name }}". Местонахождение: {{ object.position }}.</h1>

    <p>Порт приписки: {{ object.home.name }}</p>
    <p>Гипердрайв - {{ ship.drive|yesno }}, броня - {{ ship.shield|yesno }}, лазер - {{ ship.laser|yesno }}.</p>

    <p>В составе флота:
        {% if object.fleet %}
            "{{ object.fleet.name }}", навигатор {{ object.fleet.navigator }}
        {% else %}
            нет
        {% endif %}
        (<a href="{% url "space:ship_fleet" object.id %}">сменить</a>)
    </p>

    <p>{% if object.diplomats.exists %}
        Дипломаты: {% for diplomat in object.diplomats.all %}{{ diplomat.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    {% else %}
        Дипломаты не назначены
    {% endif %}
        (<a href="{% url "space:ship_diplomats" object.id %}">изменить</a>)
    <p>

{% endblock %}
