{% extends "space/base.html" %}

{% block space_content %}
    <h2>Все корабли</h2>

    <table class="record-table">
        <thead>
            <tr>
                <th>Название</th>
                {% if request.user.is_superuser %}
                    <th>Позиция</th>
                {% endif %}
                <th>Владелец</th>
                <th>Навигатор</th>
                <th>Дипломаты</th>
            </tr>
        </thead>
        <tbody>
            {% for ship in ships %}
                <tr>
                    <td>{{ ship.name }}</td>
                    {% if request.user.is_superuser %}
                        <td>{{ ship.position }}</td>
                    {% endif %}
                    <td>{{ ship.owner }}</td>
                    <td>{% if ship.fleet %}{{ ship.fleet.navigator }}{% else %}не назначен{% endif %}</td>
                    <td>{% for diplomat in ship.diplomats.all %}{{ diplomat }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
