{% extends "space/base.html" %}

{% block space_content %}
    <h1>Корабль "{{ object.name }}". Положение: на стапелях.</h1>

    {% if error %}
        <p style="color: darkred">{{ error }}</p>
    {% endif %}

    {% if alliance %}
        <p>Ваш альянс: {{ alliance.name }}</p>
        <p>Гипердрайв - {{ ship.drive|yesno }}, броня - {{ ship.shield|yesno }}, лазер - {{ ship.laser|yesno }}.</p>

        {% if dockyards %}
            <p>Верфь: {{ dockyard.name }}</p>

            <p>Ваш корабль готов выйти в космос.
                Имейте в виду, после выхода на корабль уже нельзя будет навесить доп. оборудование.</p>

            <p>Также рекомендуем вам заключить договора с дружественными кораблями, чтобы случайно не ввязаться в ненужный конфликт.</p>
            <p>{% if object.diplomats.exists %}
                Дипломаты: {% for diplomat in object.diplomats.all %}{{ diplomat.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
            {% else %}
                Дипломаты не назначены
            {% endif %}
                (<a href="{% url "space:ship_diplomats" object.id %}">изменить</a>)
            <p>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="deploy">
                {{ deploy_form.as_p }}
                <input type="submit" value="Поехали!" onclick="return confirm('Вы уверены, что хотите запустить этот корабль в космос?')">
            </form>

        {% else %}
            <p>У альянса нет ни одной планеты. Вам негде запускать корабль.</p>
        {% endif %}
    {% else %}
        <p>Вы не состоите ни в одном Альянсе. Вывод кораблей в космос вам запрещен.</p>
    {% endif %}
{% endblock %}
