{% extends "space/base.html" %}

{% block space_content %}
    {% if error %}
        <p>{{ error }}</p>

    {% else %}
        <h2>Ваши флота</h2>

        {% for fleet in fleets %}
            <p><strong>{{ fleet.name }}</strong>: {{ fleet.point }}
                {% if fleet.ship_set.count > 1 %}(<a href="{% url "space:fleet_split" fleet.id %}">разделить</a>){% endif %}<br>
                Заказанный маршрут: {{ fleet.human_route }} (<a href="{% url "space:fleet_route" fleet.id %}">изменить</a>)<br>
                Скорость: {{ fleet.get_distance }}
            </p>
            <ul>
                {% for ship in fleet.ship_set.all %}
                    <li>{{ ship.name }} ({{ ship.owner }})</li>
                {% endfor %}
            </ul>
        {% endfor %}

        <p><a href="{% url "space:tactics_merge" %}">Объединение флотов</a>.</p>
    {% endif %}
{% endblock %}
